<h1>Login</h1>

<% form_for(:user, @user, :url => {:controller => :main, :action => :login}) do |f| %>
  
  <label>Username:</label><%= f.text_field :username %><p/>
  <label>Password:</label><input type="password" name="password" /><p/>  
  <p>
    <%= f.submit "login" %>
  </p>
<% end %>
