<div>
  <% @comments.each do |c| %>
    <div class="comment">
      <span><%= h c.text %></span>
      <span>Posted by <%= h c.nickname %> <%= time_ago_in_words c.created_at %> ago</span>
    </div>
  <% end %>
</div>